body {
    margin: 0;
    padding: 0;
}

html, body, .container-fluid, .container-fluid > .row-fluid, .container-fluid > .row-fluid > .sidebar-menu {
    height: 100%;
    overflow-x: hidden;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0 !important;;
}
.full-width, .form-group textarea {
    width: 100%;
}
.element-rtl { direction: rtl; }
.navbar-header { float: none; }
.nav-header-title {
    background-color: #22262e;
    font-size: 20px;
    font-weight: bold;
    line-height: 54px;
    padding-left: 15px;
}

.sidebar-menu, .sidebar-nav .list-group-item-success {
    background-color: #1b1e24 !important;
    color: #fff;
}
.sidebar-nav .list-group-item-success:hover, .sidebar-nav .list-group-item-success:focus, .sidebar-nav .list-group-item-success:active { 
    color: #ddd;
    outline-style: none;
}
.sidebar-nav .list-group-item-success i.glyphicon {
    margin-right: 8px;
}
.sidebar-nav .panel {
    border-radius: 0;
    border: 0;
}
.sidebar-nav > .panel > .list-group-item-success {
    border-radius: 0;
    border-top: 1px groove #ccc;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

}
.sidebar-nav .list-group-item-success:hover, .sidebar-nav > .panel > .list-group-item-success.active {
    z-index: 0;
    background-color: #428bca !important;
    border-color: #428bca;
    transition: background-color 0.5s ease;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}

.navbar { border-radius: 0; }
.page-header {
    line-height: 30px;
    margin: 12px 0 -1px;
    padding-bottom: 9px;
    padding-right: 25px;
}
.body-content {
    padding: 2%;
    margin: 0;
}

.main-content {
    -webkit-transition: all 2s; 
    -moz-transition: all 2s; 
    -o-transition: all 2s; 
    transition: all 2s;
}

.current {
    position: relative;
    float: left;
    margin: 0 5px 5px 0;
}

table.table-questions tr th {
    max-width: 100px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-error { color: red; display: none; }


.small_input { width: 80px !important; }

.table th.table_label {
    width: 150px;
}
.cup_form .form-group {
    margin-left: 0;
    margin-right: 0;
}

th.table_label {
    background-color: #666 !important;
    color: #fff;
}

th.min-cell-witdh { max-width: 80px; }

.content-padding { 
    padding: 5px 15px; 
}

.datepicker { cursor: pointer !important; }

#ajax_paging {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.category_text { max-width: 150px; }



@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

#success_message { 
    opacity: 0;
    -webkit-animation: fadeOut 5s;
    animation: fadeOut 5s;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media (max-width: 768px) {
    .navbar-header { float: left; }
}