/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2017, 6:02:48 PM
    Author     : SOL
*/

.question-add input[type="file"] {
    display: block;
    padding: 4px 0 0;
}
.question-img {
    display: none;
    margin-bottom: 1%;
}
.image-view {
    height: 200px;
}
.image-view > img {
    border: 1px solid #eee;
    display: block;
    height: 200px;
    margin: 0 auto;
    max-width: 500px;
    padding: 2%;
}
.alert.alert-danger .glyphicon.glyphicon-exclamation-sign {
    float: left;
    margin-right: 5px;
}
.question-list-img {
    height: auto;
    max-width: 300px;
}
.question-modal-img {
    width: 100%;
}
.question-edit .question-img {
    display: unset;
}
.error {
    color: #dd4b39;
}
#user_add .input-group {
    margin-bottom: 2%;
}
/*.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td*/
.table-questions > tbody > tr > td, .table-questions > thead > tr > th, .table-questions > tbody > tr > th {
    text-align: center;
    vertical-align: middle;
}
/*.width140{
    width: 140px;
}*/